{% comment %}
 
Custom section created by JadePuma
Instructions - https://jadepuma.com/blogs/shopify-tutorials/how-to-add-tabs-to-any-page-template-in-flex
Last editted - 2Sep22
 
{% endcomment %}
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  
{% if section.settings.enable_tabs %}
  <section class="section section-{{section.id}}">
  <div class="page-width-desktop">
    <div class="tab_container">
      <div class="product_tabs " >
          <a href="https://resolutesquare.shop/collections/all">All</a>
        </div>
      {% for block in section.blocks %}
        {% assign tab_label = block.settings.title | remove:" " | remove:"&" | downcase %}
        {% if forloop.index != 1 %}
          {% style %}
              .tab{
                display:none;
              }
          {% endstyle %}
        {% endif %}
        <div class="product_tabs {% if forloop.index == 1 %} product_tabs_active {% endif %}" id="tab-{{tab_label}}" onClick="showHideTabs(this, '{{tab_label}}')">
          {{ block.settings.title }}
        </div>
      {% endfor %}
      {% for block in section.blocks %}
        {% assign tab_label = block.settings.title | remove:" " | remove:"&" | downcase %}
        {% if forloop.index == 1 %}
          {% style %}
              .tab-{{tab_label}}{
                display:block;
              }
          {% endstyle %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </section>

  <script>

  function showHideTabs(e,arg){
    $(`.tab`).css('display','none');
    $(`.tab-${arg}`).show();

    var x;
    x = document.getElementsByClassName("product_tabs");
    for (i = 0; i < x.length; i++) {
      x[i].classList.remove('product_tabs_active')
    }
    
    e.classList.add("product_tabs_active")
      
    }

  </script>

  {% style %}

  .section-{{section.id}}{
    padding-bottom:0px !important;
    margin-bottom:0px !important;
  }
  {% endstyle %}

{% endif %}


{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_tabs",
      "label": "Enable tabs",
      "default": false
    },
    {
      "type": "header",
      "content": "Product page tabs",
      "info": "When this section is enabled, the other sections will appear only when their assigned tab is selected."
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 25,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_padding",
      "label": "Border padding",
      "min": 0,
      "max": 10,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "Border width",
      "min": 0,
      "max": 10,
      "default": 0,
      "unit": "px"
    }
  ],
  "blocks": [
       {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab name",
          "default": "Tab Name"
        }
      ]
       }
  ],
  "presets": [
    {
      "name": "Tabs",
      "category": "Content",
    "blocks": [
       {
      "type": "tab"
       },
       {
      "type": "tab"
       },
       {
      "type": "tab"
       },
       {
      "type": "tab"
       },
       {
      "type": "tab"
       },
       {
      "type": "tab"
       }
      ]
    }    

  ]
}

{% endschema %}


